/*  your css code here. If applicable */
.align::before{
	content:"Before Element ";
	color:rgb(255,0,0);
	font-size:20px
}
.align::after{
	content:" After Element";
	color:rgb(255,0,0);
	font-size:20px
}